.qr{ 
    border-radius: 25px;
    padding: 50px;
}
    
body {
    display: flex;
    align-items: center;
    justify-content: center;
    /*margin: auto;*/
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
    width: 375px;
}
/* Okay now check how it looks? */
/* I have also changed the width of the qr class
You can adjust the width there
*/
.card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    background-color:white;
    border-radius: 25px;
    box-shadow: 0px 10px 50px 0px;
}

.heading{
    text-align: center;
}

.paragraph{
    text-align: center;
    color: hsl(0, 0%, 23%);
}