.qr{
    border-radius: 25px;
}
main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    margin-left: 500px;
    margin-right: 500px;
    padding: 40px;
}